<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="-updated">Last updated</option>
          <option value="upated">First updated</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul>
        <li ng-repeat="offer in $ctrl.offers | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <a href="#!/sell-offers/{{offer._id}}">
            <h4>
              [{{offer.assetClass}}]
              {{offer.assetId}}:
              {{offer.bookValue|money}}
              < {{offer.maxSharedAPR|percents}}
            </h4>
          </a>

          (<small>total:</small> <b>{{offer.totalAssetBookValue|money}}</b>,
          {{(1-offer.bookValue/offer.totalAssetBookValue)|percents}},
          {{offer.traders.length}} <small>trader(s)</small>)
          <b>{{offer.status}}</b>
          <small>Updated:</small> {{offer.updated}}

        </li>
      </ul>

    </div>
  </div>
</div>
